section.AddFood {
  background-image: url("/images/annie-spratt-l9oA-MIbUvc-unsplash (1).jpg");
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

h2 {
  color: white;
}
fieldset {
  padding: 50px;
  border-style: double;

  color: white;
  background-color: rgba(191, 178, 170, 0.8);
  border-color: #365939;
  font-weight: 500;
}

@media screen and (min-width: 992px) {
  fieldset {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    border-style: double;
    align-items: center;
    color: white;
    background-color: rgba(191, 178, 170, 0.8);
    border-color: #365939;
    font-weight: 500;
  }
}

input#first-item,
#meal-type,
#second-item,
#third-item,
#url {
  margin: 10px;
  text-align: left;
  width: 200px;
  height: 30px;
}

select#food-day-select {
  margin: 20px;
  width: 200px;
  height: 30px;
}

label {
  align-items: left;
}
