section.addDay {
  background-image: url("/images/annie-spratt-l9oA-MIbUvc-unsplash.jpg");
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}

h2 {
  color: white;
}
fieldset {
  margin-top: 100px;
  margin-left: 300px;
  margin-right: 300px;
  padding: 50px;
  border-style: double;

  color: white;
  background-color: rgba(0, 0, 0, 0.5);
}

input#food-day-id {
  margin: 10px;
  text-align: center;
  width: 400px;
  height: 50px;
}

label {
  font-size: 20px;
}

select#food-day-select {
  padding: 20px;
}
