section.addDay {
  background-image: url("/images/annie-spratt-l9oA-MIbUvc-unsplash (1).jpg");
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  align-items: center;
}

h2 {
  color: white;
}

fieldset#day-form {
  padding: 50px;
  border-style: double;
  color: white;
  background-color: rgba(191, 178, 170, 0.8);
  border-color: #365939;
  font-weight: 500;
}

input#food-day-id {
  margin: 10px;
  text-align: center;
}

@media screen and (min-width: 992px) {
  fieldset {
    margin-top: 100px;
    margin-left: 300px;
    margin-right: 300px;
    padding: 50px;
    border-style: double;
    align-items: center;
    color: white;
    background-color: rgba(191, 178, 170, 0.8);
    border-color: #365939;
    font-weight: 500;
  }

  input#food-day-id {
    margin: 10px;
    text-align: center;
    width: 400px;
    height: 50px;
  }
}

label {
  font-size: 20px;
}
