div.StartScreen {
  background-image: url("/images/ella-olsson-I-uYa5P-EgM-unsplash.jpg");
  min-height: 100vh;
  padding: 20px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
}
.landing-wrapper {
  position: absolute;
  left: 25px;
  top: 25px;
  right: 25px;
  bottom: 25px;
  color: white;
  padding: 25px;
  background-color: rgba(0, 0, 0, 0.5);
}

button {
  padding: 0.5rem 2.5rem;
  font-size: 0.95rem;
  font-weight: 600;
  text-transform: uppercase;
  color: #fff;
  background: #111;
  border-radius: remy(35px);
  margin: 5px;
}
button:hover,
button#info:hover {
  background-color: grey;
  cursor: pointer;
}

button#info {
  background-color: seagreen;
}

.StartScreen h1 {
  margin-top: 35vh;
}
